
.container {
  background-color: rgb(239, 240, 242);
  width: 100%;
  display: flex;
  gap: 30px;
  max-height: fit-content;

  .sideBar {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 20px;
  }

  .decksWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;

    .header {
      display: flex;
      align-items: center;
      gap: 16px;
      background: white;
      max-width: 80%;
      border-radius: 15px;
      margin-top: 20px;
      padding: 10px;
      justify-content: space-between;

      .blueLabel {
        color: #007bff;
      }


      .buttons {
        display: flex;
        gap: 20px;
      }
    }

    .sortDeck {
      display: flex;
      justify-content: space-between;
      max-width: 80%;

      .together {
        display: flex;
        gap: 30px;
      }

      .button {
        all: unset;
        display: flex;
        gap: 10px;
        cursor: pointer;
      }
    }
  }
}


.deck {
  max-height: 800px;
  overflow-y: auto;
}