.button {
  all: unset;

  cursor: pointer;

  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 6px 16px;
  border-radius: 15px;
}

.primary {
  background-color: rgb(255, 255, 255);
  border: solid 1px black;

  &:disabled {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    outline: 2px solid rgba(0, 0, 0, 0.5);
  }

  &:hover {
    background-color: rgb(240, 240, 240);
    border: solid 1px black;
  }
}


.secondary {
  background-color: rgb(255, 106, 22);
  color: white;

  &:disabled {
    background-color: rgba(255, 106, 22, 0.5);
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    background-color: rgb(204, 85, 18);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    background-color: rgb(255, 120, 35);
    outline: 2px solid rgba(255, 163, 101, 0.8);
  }

  &:hover {
    background-color: rgb(255, 120, 35);
    color: white;
  }
}


.tertiary {
  background-color: #0f0f29;
  color: var(--color-light-100);

  &:disabled {
    background-color: rgba(15, 15, 41, 0.5);
    color: var(--color-light-900);
  }

  &:active {
    background-color: #262649;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    background-color: #1a1a3a;
    outline: 2px solid rgba(72, 72, 110, 0.8);
  }

  &:hover {
    background-color: #212159;
    color: var(--color-light-50);
  }
}

.quaternary {
  background-color: rgb(41, 126, 255);
  color: white;

  &:disabled {
    background-color: rgba(41, 126, 255, 0.5);
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    background-color: rgb(30, 100, 204);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    background-color: rgb(48, 139, 255);
    outline: 2px solid rgba(100, 179, 255, 0.8);
  }

  &:hover {
    background-color: rgb(58, 139, 255);
    color: white;
  }
}

.quinary {
  background-color: rgba(41, 49, 72);
  color: rgb(115, 125, 150);
  font-size: 12px;

  &:disabled {
    background-color: rgba(41, 49, 72, 0.5);
    color: rgba(255, 255, 255, 0.6);
  }

  &:active {
    background-color: rgba(33, 39, 58);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    background-color: rgba(46, 57, 82);
    outline: 2px solid rgba(72, 89, 123);
  }

  &:hover {
    background-color: rgba(50, 60, 86);
    color: rgba(255, 255, 255, 0.9);
  }
}